.search-bar {
  height: 75px;
  width: 100%;
  border: none;
  background-color: lighten($dark, 5%);
  padding: 20px;
  padding-left: 30px;
  font-size: 1.5rem;
  color: white;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @media only screen and (max-width: 800px) {
    height: 55px;
    font-size: 1.1rem;
    padding: 15px;
    padding-left: 25px;
    width: 100%;
  }
  &::placeholder {
    color: darken(white, 30%);
  }
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: lighten($dark, 5%);
    &::placeholder {
      color: darken(white, 30%);
    }
    padding-left: 35px;
  }
  &:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: lighten($dark, 5%);
    &::placeholder {
      color: darken(white, 30%);
    }
    padding-left: 35px;
  }
}

.s-back-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  backface-visibility: hidden;
}
.s-back-img {
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  transform: scale(1.05);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: scale(1.2);
  }
}
.s-back-shade {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backface-visibility: hidden;
  pointer-events: none;
}
.s-title-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  backface-visibility: hidden;
  pointer-events: none;
}
.s-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  justify-content: flex-end;
  color: white;
  font-size: 0.9rem;
  text-shadow: 0px 1px 5px #000000;
  background-color: rgba($dark, 0.2);
  backface-visibility: hidden;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.s-title-text {
  animation: inUpFade 0.4s;
}

.s-inline-player {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgba($dark, 0);
  &:hover {
    background-color: rgba($dark, 0.2);
  }
}

.s-inline-title {
  position: absolute;
  top: 0;
  font-size: 0.9rem;
  animation: inDownFade 0.2s;
  text-align: center;
  .s-inline-icon {
    color: $pink;
    margin-right: 5px;
  }
}

.s-inline-meta {
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  animation: inUpFade 0.2s;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  .s-inline-icon {
    color: $tomato;
    margin-right: 5px;
  }
}

.s-icon {
  font-size: 3.5rem;
  color: white;
  animation: translateIn 0.2s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}

.s-active {
  box-shadow: inset 0 0 100px black;
}
