.player-progress-box {
  width: 100%;
  background-color: #0c0a0d;
  height: 5px;
  cursor: pointer;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    height: 17px;
  }
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @media only screen and (max-width: 800px) {
    height: 15px;
    &:hover {
      height: 15px;
    }
  }
}

.player-progress {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #fe5863;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.player-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  padding: 10px;
  height: 70px;
  @media only screen and (max-width: 800px) {
    grid-template-columns: auto auto;
  }
}

.player {
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: lighten(#0c0a0d, 5%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  backface-visibility: hidden;

  .p-icon {
    font-size: 2.3rem;
    color: white;
    margin-right: 15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    &-sm {
      font-size: 1.4rem;
      color: white;
      margin-right: 15px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: #fe5863;
        transform: scale(1.1, 1.1);
      }
    }
    &-xs {
      font-size: 1.2rem;
      color: white;
      margin-right: 15px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: #fe5863;
        transform: scale(1.1, 1.1);
      }
    }
    &:hover {
      color: #fe5863;
      transform: scale(1.1, 1.1);
    }
  }

  .p-thumb {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #fe5863;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      transform: scale(1.2, 1.2);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
  .artwork {
    height: 70;
    margin-right: 15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  .meta-data {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 0.8rem;
    .artist {
      color: darken(white, 40);
    }
  }
}

.v-slider {
  display: flex;
  width: 200px;
  height: 5px;
  background: white;
  border-radius: 100px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.v-icon {
  font-size: 1.6rem;
  color: white;
  width: 20px;
  margin-left: 15px;
  margin-right: 10px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  &-sm {
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      color: #fe5863;
      transform: scale(1.1, 1.1);
    }
  }
  &:hover {
    color: #fe5863;
    transform: scale(1.1, 1.1);
  }
}

.player-item-info {
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  color: white;
}

.player-item-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-self: center;
  color: white;
}

.player-item-volume {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  color: white;
}

.p-hide {
  transform: translateY(100%);
}
