.player {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px;
  color: white;
  background-color: lighten(#0c0a0d, 5%);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  backface-visibility: hidden;
  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .p-icon {
    font-size: 2.3rem;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    &-sm {
      font-size: 1.4rem;
      color: white;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        color: #fe5863;
        transform: scale(1.1, 1.1);
      }
    }
    &:hover {
      color: #fe5863;
      transform: scale(1.1, 1.1);
    }
  }
  .p-slider {
    display: flex;
    width: 250px;
    height: 5px;
    background: white;
    border-radius: 100px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  .p-thumb {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #fe5863;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      transform: scale(1.2, 1.2);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  .p-time {
    margin-left: 13px;
    color: white;
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  .artwork {
    height: 70;
    margin-right: 15px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  .meta-data {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    font-size: 0.8rem;
    @media only screen and (max-width: 800px) {
      width: 100%;
      font-size: 0.7rem;
    }
    .artist {
      margin-top: 5px;
      color: darken(white, 40);
      @media only screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.v-slider {
  display: flex;
  width: 200px;
  height: 5px;
  background: white;
  border-radius: 100px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.v-icon {
  font-size: 1.6rem;
  color: white;
  width: 20px;
  margin-left: 15px;
  margin-right: 10px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  &-sm {
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
      color: #fe5863;
      transform: scale(1.1, 1.1);
    }
  }
  &:hover {
    color: #fe5863;
    transform: scale(1.1, 1.1);
  }
}

.player-item-info {
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  color: white;
}

.player-item-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.player-item-volume {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  color: white;
}

.p-hide {
  transform: translateY(100%);
}
