@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap");
@import "./helpers/index";
@import "./components/index";

* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Heebo", sans-serif;
  outline: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.main-container {
  display: flex;
  flex: 1;
  height: 100%;
  background: linear-gradient(145deg, #fe5863, #f857a6);
  background-size: 400% 400%;
  overflow: hidden;
  -webkit-animation: flow 10s ease infinite;
  -moz-animation: flow 10s ease infinite;
  animation: flow 10s ease infinite;

  @-webkit-keyframes flow {
    0% {
      background-position: 0% 51%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 51%;
    }
  }
  @-moz-keyframes flow {
    0% {
      background-position: 0% 51%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 51%;
    }
  }
  @keyframes flow {
    0% {
      background-position: 0% 51%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 51%;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #0c0a0d;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
    background-color: #19151b;
    @media only screen and (max-width: 800px) {
      width: 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fe5863;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  backface-visibility: hidden;
  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.row-item {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: fadein 0.5s;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
