.trending-filter-container {
  height: 75px;
  width: 100%;
  border: none;
  background-color: lighten($dark, 5%);
  padding: 20px;
  padding-left: 30px;
  font-size: 1.5rem;
  color: white;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .drop {
    background-color: lighten($dark, 5%);
    padding: 10px;
    color: $tomato;
    border: 2px solid $tomato;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 25px;
  }
}

option {
  background-color: $dark;
  border: none;
  &:hover {
    background-color: pink;
  }
}
